# ---- Básico para proyectos web ----
node_modules/
dist/
build/

# ---- Mac / Windows ----
.DS_Store
Thumbs.db

# ---- Archivos temporales ----
*.log
*.tmp
*.cache

# ---- VSCode ----
.vscode/

# ---- JetBrains / IDEA ----
.idea/
*.iml

# ---- Otros ----
.env
